{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-2">
        <h1 class="display-5 fw-bold text-white">Read an Article</h1>
        <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            </div>
        </div>
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm" style="height: 18rem;">
                    <img src="https://source.unsplash.com/1100x400/?business">
                    <div class="card-body">
                        <p class="card-text" style="height: 1rem;"> Business
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Read
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/b1.html">Article 1</a></li>
                                        <li><a class="dropdown-item" href="/b2.html">Article 2</a></li>
                                        <li><a class="dropdown-item" href="/b3.html">Article 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row01 col01-->
            <div class="col">
                <div class="card shadow-sm" style="height: 18rem;">
                    <img src="https://source.unsplash.com/1100x400/?fitness">
                    <div class="card-body">
                        <p class="card-text" style="height: 1rem;">Health</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Read
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/health1.html">Article 1</a></li>
                                        <li><a class="dropdown-item" href="/health2.html">Article 2</a></li>
                                        <li><a class="dropdown-item" href="/health3.html">Article 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row01 col02-->
            <div class="col">
                <div class="card shadow-sm" style="height: 18rem;">
                    <img src="https://source.unsplash.com/1100x400/?Arts">
                    <div class="card-body">
                        <p class="card-text" style="height: 1rem;">Arts</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Read
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/arts1.html">Article 1</a></li>
                                        <li><a class="dropdown-item" href="/arts2.html">Article 2</a></li>
                                        <li><a class="dropdown-item" href="/arts3.html">Article 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row01 col03-->

            <div class="col">
                <div class="card shadow-sm" style="height: 18rem;">
                    <img src="https://source.unsplash.com/1100x400/?Science">

                    <div class="card-body">
                        <p class="card-text" style="height: 1rem;">Science
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Read
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/science1.html">Article 1</a></li>
                                        <li><a class="dropdown-item" href="/science2.html">Article 2</a></li>
                                        <li><a class="dropdown-item" href="/science3.html">Article 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row02 col01-->
            <div class="col">
                <div class="card shadow-sm" style="height: 18rem;">
                    <img src="https://source.unsplash.com/1100x400/?Self-improvement">
                    <div class="card-body">
                        <p class="card-text" style="height: 1rem;">Self-improvement</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Read
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/self_improvement1.html">Article 1</a></li>
                                        <li><a class="dropdown-item" href="/self_improvement2.html">Article 2</a></li>
                                        <li><a class="dropdown-item" href="/self_improvement3.html">Article 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--row02 col02-->
            <div class="col">
                <div class="card shadow-sm" style="height: 18rem;">
                    <img src="https://source.unsplash.com/1100x400/?Society">
                    <div class="card-body">
                        <p class="card-text" style="height: 1rem;">Society
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        Read
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="/society1.html">Article 1</a></li>
                                        <li><a class="dropdown-item" href="/society2.html">Article 2</a></li>
                                        <li><a class="dropdown-item" href="/society3.html">Article 3</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}