{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>Great Things About Photography</h1>
<div style='font-style: italic'>By: <a href='http://www.articlegeek.com/authors/1686.php'>Francesca Black</a></div><p>
Are you thinking about taking up the hobby of photography? Many who have already discovered this exciting and fulfilling hobby can tell you the top ten reasons why photography is so great. Maybe you will be captivated by this compelling and diverse art as well.<br />
<br />
1. The Challenge of Getting the Perfect Picture <br />
If at first you don't succeed, try, try again. Sometimes a hundred shots have to be taken and you have to try for several days to get just the picture you want. An individual must have patience, but at the end of the day a great sense of accomplishment is felt from capturing the best part. <br />
<br />
2. Tell A Story <br />
From beginning to end of a snowball fight, with people throwing their first snowball and eventually rolling in the snow and then dusting off, you can see the event and it tells the story of friendship, fun and joy of life. Looking at pictures of an old family farm from its humble beginnings to the growth and increase over a hundred years it tells a story of family, hard work and sacrifice. Everyone has a story, photos can share that story and bring it to life. <br />
<br />
3. Express Individuality<br />
A photographer subject matter will reflect their interests, likes and preferences. A photo can also reflect the individuality of a subject. The clothes they choose to wear and the location they want the pictures shot all show who they are and their personality. <br />
<br />
4. Joy and Laughter Increase <br />
Anyone who looks at their first grade picture can attest to this fact. What is more fun than looking back at your younger years or seeing the awkwardness of adolescence? In your later years of life, seeing a picture of your family working or playing together warms your heart and lets you remember good times and better health. A photo lets us travel over the decades and brings back moments that make us laugh and carries us through the hard times. <br />
<br />
5. See Things Truly As They Are <br />
Somethings are so perfect- the petals of a flower, the height of a Redwood, the still calm of the lake at dawn. They draw you in to the grace of nature and life in purity and simplicity. The sweet smile of a child reflects the goodness of life and all the hope for what we can become and achieve. This is what life is and who we are in it. <br />
<br />
6. Solitude of the Dark Room<br />
The magical atmosphere of the dark room leads you to discover the potential of the photograph. Lightness, darkness, shadows all are in the control of the photographer. It is a work done alone with your ideas and skills combined to bring out the story of the photo before you. <br />
<br />
7. Understand the Emotions of Others<br />
As you look over the events of history and witness the faces of those who endured the depression or see victims of the Holocaust you can see in their eyes what they have endured. Their faces portray their hearts and hurts and although you were not there, you understand what they carry with them a little more. <br />
<br />
8. A Gift to Others of Their Most Precious Moments <br />
After the couple returns from the honeymoon one of the first priorities is to get the wedding photos. One of the happiest days of their lives is recorded forever. When someone does something for you that you can't do for yourself you feel indebted and forever grateful. It is a special gift to give someone their special memories and most cherished events. <br />
<br />
9. Once You Capture a Moment You Can Display it <br />
From the famous to the personal, photographs reveal lives of people. Some are placed in history books, some on the walls of a museum and some in the home. When they are displayed they are able to reach into the lives of others and stir emotion and thought. Photos are meant to be shared and seen. <br />
<br />
10. The Only Way You Can Freeze Time <br />
A photo is a moment frozen in time for a person to enjoy and remember whenever they want. The look, the expression, the emotion only happen for an instant. Although someone might carry it in their heart, with time the memory fades. If a photo is taken a child is able to see the happiness of their parents on their wedding day, a parent can see how small their child was the day they brought them home for the first time and all the years after as they grew to adulthood. All the birthdays, first days of school, vacations and friends can be captured and with you always. Time and space do not take a loved one from us when we can see them and the moments we share together, always.

<p>
<div class="sb">
Send this page to:<br><a href="http://www.articlegeek.com/scripts/bookmark.php?title=Great Things About Photography"><img src="http://www.articlegeek.com/pictures/bookmarks/sb.gif"></a>
</div>
<p>
<strong>Author Bio</strong><br>
Francesca Black enjoys photography as a hobby and manages content at Future Photo http://www.future-photo.com and Photo Wizard <a href="http://www.photo-wizard.net">www.photo-wizard.net</a>
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>

{% endblock %}