<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2983464111332563"
        crossorigin="anonymous"></script>

    <title>Gracious Givers</title>
</head>

<body>

    <div class="container-fluid">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="navbar-brand nav justify-content-center" href="/">GRACIOUS GIVERS</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/direct.html">Direct Donations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Indirect Donations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/articles.html">Read an Article</a></li>
                            <li><a class="dropdown-item" href="/games.html">Play a Game</a></li>
                            <li><a class="dropdown-item" href="/frj.html">Riddles and jokes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <h1>Choosing a Company Name</h1>
    <div style='font-style: italic'>By: <a href='http://www.articlegeek.com/authors/43.php'>Michael Harris</a></div>
    <p>
        When forming a limited company the name of the company can be an important decision. Some people may choose the
        first name that they think of and others may select a ready made company for speed or because they like a
        particular name. However, many businesses may prefer to select a company name that either clearly distinguishes
        itself from its competitors or contains something unique or personal. Company names can be chosen for different
        reasons.<br />
        <br />
        One of the most common ways of selecting a company name is to use something personal. A quick look through your
        local newspaper will probably introduce you to many personalised business names. Johnson Consulting Limited, T
        Smith & Son Limited, Stephens & Barley Limited are some fictional examples of what may be found. This may
        instantly make a company recognisable locally, it can be deemed as more personal by its customers, and often
        works well within geographical areas. However, it does little to tell new customers what your company
        does.<br />
        <br />
        A popular choice for a small business is to choose a name that is 'descriptive'. This tells prospective clients
        exactly what your company does. Examples of this may be to call your business The Window Company Limited, City
        IT Consultants Limited or The Advertising Agency Limited. Whilst this does serve to reinforce your primary
        business it offers little differentiation and may easily be adapted by competitors.<br />
        <br />
        A less personal option is to use a company name that is 'associative'. This type of company name helps to create
        an image or connection to your business activity. It is less direct than using a descriptive name but helps to
        position your company's name within the market through peoples understanding of what words mean. For example a
        flick through the Yellow Pages will offer plenty of examples of this. A hairdresser called Classic Cuts or a
        printer called Selectaprint Limited are examples of what may be found. These names offer some differentiation
        but may not ultimately set your company aside from its competitors.<br />
        <br />
        An alternative is to choose a company name that is 'freestanding'. These names are completely abstract and not
        related to the companies business activities. A fictional example may be to call your catering company Zedoc
        Limited. There are many popular brand names that illustrate this point. Consider, Kodak, Gillette, or Mars,
        these names will probably be instantly recognisable to you and conjure up a particular product or business. This
        is a good way of setting your company aside from the competition but it is important to consider the market that
        you operate in. Will your prospective clients know what your business is offering?<br />
        <br />
        Choosing a company name may be a simple process, but it is not uncommon for people to deliberate over names for
        quite some time. Whilst company names can, and often are, changed during the life of the company most people
        like to choose a name that they like from the outset. Therefore consider your market, how much you want to
        differentiate from your competitors and what your company name should say about your organisation. Once the
        decision is made focus on the important business of making your company a success.

    <p>
        <strong>Author Bio</strong><br>
        Michael Harris is a university graduate who has worked within the company formation and business advice industry
        for many years. Simple Formations is part of the SFS Group of Companies providing <a
            href="http://www.sfsgo.com/">Company Formation</a> the same day with your own company name.
    <p>
        <em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website
                Content</a></em> <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>


        <!-- Option 2: Separate Popper and Bootstrap JS -->
        <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>