{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>Being Organized Equals Small Business Success</h1>
<div style='font-style: italic'>By: <a href='http://www.articlegeek.com/authors/26.php'>Patty Kreamer</a></div><p>
You started your own business because you have a burning passion for what you do. You are also - we hope -- good what you do and have a desire to help others.  Little do you know that running a business includes, well...running a business.  This little bombshell can throw many a new business owner for a loop.<br />
<br />
I receive numerous phone calls every week asking me how to start a business as a professional organizer.  The first thing I say is that the organizing part is easy because it is a natural gift (sometimes a curse); it's running the business that can trap you.  This is not to scare a potential entrepreneur away, but to help them realize that it's not all fun and games doing what you do best.  You have to:<br />
<br />
Find an accountant<br />
Buy insurance<br />
Get legal advice on how to set up your business<br />
File for the company name with the state<br />
Find working capital if necessary<br />
File all the proper tax forms<br />
Open up a checking account<br />
Get office supplies<br />
Market the business<br />
Build a network<br />
And the list goes on and on...<br />
 <br />
In the initial start-up stage, entrepreneurs are often so excited about starting a new business that they pay little or no attention to what is happening with all the paperwork and electronic data you are generating.  That is typical and expected.  However, around the six to twelve month mark, entrepreneurs start calling people like me - a professional organizer - begging for help in setting up a system to help them be organized.  I envision a hand protruding from mounds of papers reaching for help. <br />
<br />
The sad news is that many small businesses have never taken the time to set up systems once they've built up paper and electronic backlogs.  They just keep generating documents without stopping to assess what is being created.  <br />
<br />
I firmly believe that the healthiest small business is the one that visits and reviews their organizational systems every six to twelve months.  The small business that keeps doing the "same old, same old" is losing money.  So where do you stand?<br />
<br />
Something that has really hit home in the past year or so is that you don't GET organized and have long lasting success.  You have to BE organized.  Getting organized is a quick fix of cleaning up and putting things away - usually a Band-aid (r) approach - that doesn't last for more than a few days.<br />
<br />
Being organized is recognizing that organization is an ongoing journey.  Life doesn't stop happening the minute you GET organized.  You have to have systems in place that will help the daily flow; a lack of systems will cause clogs.  These clogs come in many forms:<br />
 <br />
Piles of papers<br />
Lost documents<br />
Misplaced items - glasses, phone, pens, keys<br />
Running late<br />
Stress and frustration...<br />
 <br />
You get the picture.  <br />
 <br />
When it becomes clear to you that you are running through your day feeling like you've accomplished nothing, you may need to reassess your organizational skills and systems.<br />
<br />
Your small business must overcome many hurdles to be successful.  Fortunately, being organized is one hurdle that you can learn to overcome.  Or you can work with a professional organizer to set up customized systems that make you functional, productive, and more pleasant to be around.<br />
<br />
I challenge you take a deep look at the state of your small business' organization.  If you see your passion being overrun by disorganization, it's time to take some action.    <br />
<br />
Here's to simplifying your life!
<p>
<strong>Author Bio</strong><br>
Patty Kreamer, owner of Kreamer Connect, Inc., is a professional organizer, speaker, and author of the Making Life Simple... Again! e-course available at <a href="http://www.ByeByeClutter.com/MLSAHome.htm">http://www.ByeByeClutter.com/MLSAHome.htm</a>.  If your business or organization is looking for a fun, dynamic, and effective speaker, you can email Patty at patty@ByeByeClutter.com or call her at 412-344-3252.
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>

{% endblock %}