{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>How to Really Make Your Diet Work For You</h1>
<div style='font-style: italic'>By: Stanislav Karpunin</div><p>
First of all, you need to understand, that your body needs a proper Balanced Nutrition Diet, with a proper daily amount of: vitamins, proteins, minerals and carbohydrates.
<p>
Get into a habit of eating exactly 3 Meals a day.
<p>
<strong>1. Eat breakfast within one hour of rising.</strong><br>
Breakfast provides at least 30 percent of the total energy and nutrition needed to sustain the human body during the whole day. And therefore it is very important to have a proper breakfast and not to skip it.
<p>
<strong>2. Have a healthy low-fat lunch snack.</strong><br>
Have a healthy snack in your lunch time, low fat yogurt for example, to keep your energy running.
<p>
<strong>3. Have your dinner three hours before your bedtime.</strong><br>
Have a Proper dinner three hours before your bedtime; never go to bed on a full stomach.
<p>
Drink at least 2 liters of water a day.   2 liters of water a day would help your body to burn calories more effectively and to get rid of toxins.
<p>
<strong>Exercising is a KEY.</strong><br>
By exercising, your body gets an advantage of many physiological benefits such as:
<div style='padding-left:20px'>
<ul>
<li>Weight Control by elevating your metabolism so that you burn more calories daily.</li>
<li>The Boost in your energy level </li>
<li>Strengthening of your heart and lungs </li>
<li>Improvement in your self-image and self-confidence.</li>
</ul>
</div>
So, don't forget to exercise at least 10 minutes a day.
<p>
Try to avoid using fats. Try to keep the fat level in your cooking as low as possible.
<p>
Make Calcium your friend.  Include as much calcium as you can in your daily diet by eating:
<div style='padding-left:20px'>
<ul>
<li>Oranges</li>
<li>Broccoli</li>
<li>Soybeans</li>
<li>Tofu</li>
<li>Sunflower Seeds</li>
<li>Papaya</li>
</ul>
</div>
And other sources of calcium.  Calcium is a crucial element for bone metabolism. Calcium deficiency is very common. The "Average" American diet does not even come close to meeting the normal calcium requirements:
<p>
425 mg. a day for Men
<br>
450 mg. a day for Women
<p>

<strong>So, to sum it up:</strong><br>
1. Have exactly 3 meals a day<br>
2. Drink at least 2 liters of water a day<br>
3. Exercise at least 10 minutes a day<br>
4. Avoid fats<br>
5. Make calcium your friend
<p>
By following these 5 simple rules, you will be losing weight in no time.
<p />
<strong>Author Bio</strong><br>
WellnessWorx.net markets quality, weight-management, nutrition and personal health care products created by WellnessPro leading industry experts. Weight-loss can be a pleasure!
http://wellnessworx.net
<a href="http://wellnessworx.net">WellnessWorx.net</a>
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>

{% endblock %}