{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>Blood Pressure Basics</h1>
<div style='font-style: italic'>By: Diana Statham</div><p>
There are no hard and fast figures which represent a normal blood pressure. And very often doctors and other experts cannot even decide between them what an ideal blood pressure range is for an adult.<br />
<br />
However it is usually agreed that somewhere between 110/70 and 125/80 is considered to be an average blood pressure for a grown person, though someone with naturally low blood pressure may be closer to a range of 100/60 <br />
<br />
A blood pressure of 140/90 is considered to be high, though as a person gets older, this falls into the more normal range for people.<br />
<br />
Blood doesn't circulate in an even stream around the body, but travels in a constant series of spurts. Therefore the pressure peaks in the blood vessels just after a heart beat and then ebbs until the next one. This is a continuous process.<br />
<br />
The two blood pressure figures represent the pressures when the forces are at their peak and at their lowest ebb. The stronger the arteries are, the more they resist the force of the blood and the lower the blood pressure. <br />
<br />
As a person gets older, and the elasticity of their arteries weakens, the figures tend to rise. However the lower figure should still be under 90 until that person at least reaches their sixties.<br />
<br />
Many studies looking at blood pressure in both black and white people have found there is a higher prevalence of hypertension (High blood pressure) in black people than there is in white. This has led to further research in determining whether this is racially determined or just based on socioeconomic and dietary factors.<br />
<br />
Some people suffering high blood pressure may find they just can't pinpoint a cause for their problem. They may be fit, have a very healthy lifestyle yet their blood pressure remains consistently high for no apparent reason. This is called Primary or essential high blood pressure. However if the raised blood pressure is due to an underlying medical problem, it is known as Secondary High Blood Pressure. <br />
<br />
Nearly one in four people in the Western world have high blood pressure. Many people don't appreciate it is a dangerous condition that can lead to a heart attack kidney failure or stroke if it is left untreated. Yet there are thousands of people unaware they have high blood pressure who are walking around with a lethal time bomb ticking away inside them.<br />
<p />
<strong>Author Bio</strong><br>
Diana for Guide to <a href="http://www.health-care-information.org/diseases/blood-pressure/">Blood Pressure</a>, and <a href="http://www.health-care-information.org/diseases/blood-pressure/low-blood-pressure.html">low blood pressure</a>.
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>

{% endblock %}