{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>Top 5 ways to stay calm and reduce stress</h1>
<div style='font-style: italic'>By: John Halderman</div><p>
Are you looking for more calm satisfying experience with you daily life?
<p>
Do you get frustrated with yourself at the end of the day because you've gotten stressed, unfocused or agitated?
<p>
Are you tired of getting over emotional and worn out.
<p>
Whether you are experiencing one or all of these feelings here are my 5 best tips on reducing the unwanted feelings so that you will feel calm and satisfied with yourself each day.
<p>
<strong>1. Catch yourself when you exhibit a feeling of behavior that you don't like and change it.</strong><br>
At first you may not notice the feeling until after you have gone through it, that's fine.
<p>
Think about how you would rather have felt.
<p>
Think about how you would rather have handled yourself. Decide how you want to do it next time.
<p>
As you continue with this process each day you will find that you will notice more easily what you are doing throughout the day.
<p>
You will begin to catch yourself earlier and earlier as you do this.
<p>
Eventually, you will be seeing yourself while you are doing it, then stop yourself.
<p>
At some point you will be able to notice before you even begin to feel and react in the undesirable way.
<p>
Here is where you will actually begin to change the way you react to the situations in your life and change your behavior.
<p>
<strong>2. Stay centered all day by refocusing throughout the day.</strong><br>
Develop the habit of paying attention to your mindset as the day goes on.
<p>
Several times a day, step away from what you are doing to get re-centered.
<p>
Sit down close your eyes and take several long slow deep breaths while imagining the tension washing slowly out of your body.
<p>
Notice your breathing getting slower and calmer.
<p>
Just think about your breath.
<p>
Try to keep from thinking about anything in particular.
<p>
It's ok to not be actively thinking for a while!
<p>
<strong>3. Watch out for your expectations.</strong><br>
You are setting yourself up for failure, upset and frustration when you set too many standards as to how you think things should be.
<p>
Think about what leads you to getting upset?
<p>
Why does it upset you?
<p>
Notice that you decide how many things should be, based on your own outlook and desire.
<p>
The things others do that are not to your liking, even the things you do that don't match your expectations.
<p>
Ask yourself, really how important is it that they be exactly that way
<p>
Ask, who am I to insist that they are that way?
<p>
Does it matter that much?
<p>
Is it worth getting myself worked up about?
<p>
Choose which expectations are really important for you to hold on to and which ones are not.
<p>
Holding on to many expectations just complicates your life, with constant judgment.
<p>
Simplify your life and reduce the stress!
<p>
<strong>4. Delegate.</strong><br>
This applies to your personal life as well as at work.
<p>
Most of us think of delegating as a workplace skill, but it can apply personally as well.
<p>
We are all very busy these days with our activities and duties.
<p>
Trying to fit it all in and get it all accomplished can lead to tension.
<p>
For various reasons, many of us have developed the habit of thinking we must do it all ourselves.
<p>
Take a look at your situation.
<p>
Think about it, really, how important is it that everything must be done perfectly to your standards?
<p>
Are you sure there are not other people who can assist you. Are the other people in your life pulling their weight?
<p>
Many times we get into habitual ruts that don't need to be as they are.
<p>
Look at what has been, with the eye of reducing the pressure on yourself.
<p>
<strong>5. Accept other people as one.</strong><br>
As you think of yourself as different and separate from the rest of mankind, you unknowingly create thinking and behavior that separates you from others.
<p>
This kind of separate thinking leads us to think we are superior to others which leads to judgment then selfish thinking and behavior.
<p>
We are then having an internal battle with others, which brings on fear, competition and comparison, ending in frustration and anxiety.
<p>
Look to discovering how to see yourself as one with all of mankind, not as separate.
<p>
Focus on what we have in common rather that the relatively small uniqueness.
<p />
<strong>Author Bio</strong><br>
John Halderman is a writer, speaker and trainer, dedicated to helping people with getting real results with their personal development efforts.  He supports strategies, methods, tools and information that actually bridge the gap between information and effective results.  Go to <a href="http://www.activepersonaldevelopment.com">www.activepersonaldevelopment.com</a> for free information and newsletter.
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>

{% endblock %}