
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2983464111332563"
     crossorigin="anonymous"></script>

        <title>Gracious Givers</title>
</head>

<body>

    <div class="container-fluid">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="navbar-brand nav justify-content-center" href="/">GRACIOUS GIVERS</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/direct.html">Direct Donations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Indirect Donations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/articles.html">Read an Article</a></li>
                            <li><a class="dropdown-item" href="/games.html">Play a Game</a></li>
                            <li><a class="dropdown-item" href="/frj.html">Riddles and jokes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <h1>Biodiesel, What Is It?</h1>
    <div style='font-style: italic'>By: <a href='http://www.articlegeek.com/authors/507.php'>Mark Allen</a></div><p>
    In today's world, one can hardly escape the subject of fuel prices and fuel supply.  For a number of different reasons people have turned from standard petroleum based fuel sources and looked for a reliable alternative-fuel.  Biodiesel is one such fuel that experts and enthusiasts have embraced as not only their idea of a fuel of the future, but is also their choice for a fuel for today.  But, what is Biodiesel?  <br />
    <br />
    Biodiesel is a fuel containing some of the same traits as conventional diesel fuel.  Biodiesel is made from high quality vegetable oils through a manufacturing process that can be done on a large scale - such as a refinery, or on a small scale - such as a home Biodiesel kit.  The primary use for Biodiesel right now is as a substitute for petroleum based diesel fuel.<br />
    <br />
    In different parts of the world, different plants are used as the source for the vegetable oil that is made into Biodiesel.  Theoretically, any vegetable grown can be broken down and turned into Biodiesel, but right now most Biodiesel producers use one primary crop as their source.  In America, the primary crop grown for Biodiesel production is corn.  Corn, being one of the more common crops grown in American, provides a readily available supply of vegetable matter for Biodiesel manufacturers.  In much of Europe, rapeseed is used in the production of Biodiesel.  And, in Southeast Asia the primary plant grown for the manufacture of Biodiesel is Soybeans.  After going through the manufacturing process, there is little difference in the properties of Biodiesel made from one plant over another.<br />
    <br />
    The process used to manufacture Biodiesel from pure vegetable oil is called ester interchange.  In the process the vegetable oil is combined with a much smaller amount of Methanol.  Methanol can be manufactured by the fermentation of starch or sugar and it can also be produced from natural gas.  The vegetable oil and methanol are placed in a small quantity of an alkaline catalyst and it is in this process that the chemical makeup of the vegetable oil is altered.  The result is a clean burning fuel with a viscosity (flow properties) approximating that of standard diesel fuel.  During this process, approximately 90% of what is manufactured is Biodiesel fuel, while the remaining 10% is in the form of the glycerine that was broken down from the vegetable matter.  This glycerine can also be used in other applications in the chemical industry, making the manufacture of Biodiesel practically waste-free.<br />
    <br />
    The current uses for Biodiesel are mainly limited to that of being a cleaner burning replacement for petroleum based diesel fuel.  Biodiesel can be both economically viable and highly efficient for most mobile applications.  There will be some performance and usage differences between diesel and Biodiesel and they will vary from vehicle to vehicle as expected.  It is possible for most modern diesel engines to burn standard Biodiesel.  Currently, Biodiesel is also marketed as a Biodiese/Ethanol mix or a Biodiesel/Diesel mix.<br />
    <br />
    Still a young industry by any measure, Biodiesel is on it's way to becoming one of the brightest lights in the search for a viable alternative-fuel.
    
    <p>
    <strong>Author Bio</strong><br>
    Mark Allen is a supporter of finding a viable alternative fuel source.  Learn more at <a target='_blank' href="http://biodieselplans.info">BiodieselPlans.info!</a>
    <p>
    <em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
        

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>