{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>E=mc2 is Wrong - Einstein's Special Relativity Fundamentally Flawed</h1>
<div style='font-style: italic'>By: Michael Strauss</div><p>
Is Albert Einstein's Special Relativity incompatible with the very equations upon which science's greatest theory is built?  New observations made by many scientists and engineers appear to contradict the great German scientist's ideas.  Apparently there are implicit contradictions present within Relativity's foundational ideas, documents and equations.  One individual has even pointed that quotations from the 1905 document and Einstein's contemporaries as well as interpretations of the Relativity equations clearly and concisely describe a confused and obviously erroneous theory.  It is time therefore, for science to update its thinking on this theory with a comprehensive analysis of the history leading up to, during and after that revolutionary year of Special Relativity.<br />
<br />
As this is the 100 year anniversary of the original release of Special Relativity, a review of the original assumptions, documents and ideas which led to the acceptance of this theory is timely and warranted.  Every year millions of students are taught this theory without a critical analysis of Relativity.  Relativity Theory consists of its two variants Special Relativity and General Relativity and is considered the cornerstone of modern physics.<br />
<br />
Albert Einstein borrowed from the ideas of Fitzgerald, Lorentz and Voigt to create a new concept of the universe.  His first work in this regard later came to be known as Special Relativity and contained many controversial ideas which today are considered axiomatic.  Amongst these are Length Contraction, Time Dilation, the Twin Paradox and the equivalence of mass and energy summarized in the equation E=mc2.<br />
<br />
This equation became the shining capstone of the new theory along with its first & second postulates, namely, that the laws of nature are the same from all perspectives and that the speed of light 'c' is constant in a vacuum regardless of perspective.  Further, the theory also predicted an increase in mass with velocity.  Numerous examples have been given of the 'proof' of the validity of Special Relativity.<br />
<br />
Most notably, experiments using particle accelerators have sped particles to incredible velocities which apparently provide confirmation of Einstein's theory.  However, doubts remain in the scientific community who have never totally given up the comfort of a Newtonian world view.  This is readily apparent in that they refer to the Newton's 'Law' of Gravitation whilst Special Relativity (SR) and General Relativity (GR) are given the polite attribution 'The Theory of' or simply SR 'theory' and GR 'theory.'  Einstein would continue working on the ideas of Special Relativity until producing the aforementioned even more controversial treatise.<br />
<br />
In his later more comprehensive work called the Theory of General Relativity (1916), Einstein proposed a major re-thinking of cosmology.  He conceived of a space time continuum that is curved by mass; in other words, planets, stars, galaxies and other stellar objects cause a curvature of space time.  The movement of these objects are determined by the aforementioned curvature.<br />
<br />
As a result of these ideas, our understanding of geometry, math, physics, science and the universe would never be the same.  However, some scientists are reporting that speed of light is not constant from different experimental observations.  One has even reported errors in the fundamental equations.  If so, this would require a major rethinking of the known cosmological models and assumptions of modern physics.
<p />
<strong>Author Bio</strong><br>
Michael Strauss is an engineer and author of Requiem for Relativity the Collapse of Special Relativity.  To contact the author visit: <a href="http://www.relativitycollapse.com">www.relativitycollapse.com</a>
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>

{% endblock %}