{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>Mirror of Self Reflection</h1>
<div style='font-style: italic'>By: <a href='http://www.articlegeek.com/authors/2930.php'>Robin J</a></div><p>
Age creeps up on us all slowly stripping away our youth then one day we look into the mirror and the body does not seem to match the sparkle in the eyes anymore. Then we begin to look over our shoulder at our past and think I wonder what would have happened or what if I had taken this path?
<p>
The concept of there only being one life and a limited amount of time to live it is to most people like someone saying there is no Santa Claus. We simply want to believe in forever just like we wanted to believe in happily ever after as children.
<p>
You may think I am advocating quitting your job and going trekking in Africa but no that is not where this is going. Living is an art in itself it is not about time management or fit as much in as I can. It is about passion, depth, vision, love and much more.
<p>
I wish I could remember the taste of a meal long after I have eaten it, I wish I could see my partners face long after they have left, I wish I could feel my friends hug as she embraced me long after she had let go, I wish I could picture the one time my Mother said I love you long after she is gone, I wish I was so in tune with life, so aware, so enlightened that every moment was my greatest and I could feel it, taste it, and truly live it.
<p>
I do not want to wait until someone tells me there are no more moments left I do not want to feel cheated because a Higher Power took my moments away. I want to be grateful a Higher Power gave me the moment to begin with.
<p>
As youth slips away and it will slowly I want to be able to look in the mirror and see the happiness of a life lived with depth and passion etched in my face. I want to be able to feel the touch of my lovers hand as it brushed away my tears not just remember it. But unless I am truly aware truly in the moment at the time allowing myself to feel, letting go of expectations, letting go of the need to hold something back, unless that happens all I will have is a vague memory. I want more I want an imprint so strong I can carry it with me and feel it when the moments are at an end.
<p>
My wish for you is that you may look in the mirror of self reflection long before youth has disappeared. I hope you will realize life doesn't need to be filled up with things rather it needs to be soaked up for all it has to offer right now at this very moment. My wish for you is that you may experienced even for a second a state of total being when everything falls away and time stands still and you can taste the air you breath, feel the earth pulsate beneath your feet and hear the whisper of the Angels.
<p>
<div class="sb">
Send this page to:<br><a href="http://www.articlegeek.com/scripts/bookmark.php?title=Mirror of Self Reflection"><img src="http://www.articlegeek.com/pictures/bookmarks/sb.gif"></a>
</div>
<p>
<strong>Author Bio</strong><br>
Australian Psychic/Artist/Writer living in Canada. I do reading by donation at my site <a href="http://angelpsychicblessings.com">angelpsychicblessings.com</a>.
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>
{% endblock %}