{% extends 'base.html' %}

{% block head %}
<title>Gracious Givers</title>
{% endblock %}

{% block body %}

<h1>10 Tools for Dealing with Criticism and Rejection</h1>
<div style='font-style: italic'>By: <a href='http://www.articlegeek.com/authors/325.php'>Linda Dessau</a></div><p>
Ouch! Whether it's feedback we've asked for, an unsolicited remark called out from the audience or a simple "no" result of an audition or submission process, criticism and rejection are a huge part of our lives as creative artists.<br />
<br />
Sometimes we're so fearful of being criticized or rejected that we keep our creativity bottled up and don't let it out. <br />
<br />
Other times we constantly adapt what we create, focusing only on the "market" and what they seem to be liking or disliking this week. Then we end up feeling like we're not truly expressing our creative impulses.<br />
<br />
<b>10 Tools for Dealing with Criticism and Rejection</b><br />
<br />
1. Be Open. You may be hoping for a specific reaction or response to your work, or a specific result of an audition, gallery submission, performance or contest entry. If you've done your best and you're rejected or criticized, you might feel that you've "failed", and it's probably hard to see anything positive about the situation. Try to be open to the possibility that this "failure" is actually leading you to something else, usually better than what you thought you wanted. As I read once in Cheryl Richardson's newsletter, "Any rejection is God's protection".<br />
<br />
2. Be Consistent. Keep going, doing the little things every day that keep you creative and that keep you connected to other artists and to your customers. The dramatic moments and big wins and losses will come and go. Have a steady routine you can keep coming back to, and this will help to place any criticism or rejection into perspective. Today is a new day, another day you get to be an artist.<br />
<br />
3. Be Focused. Keep your end goal in mind, and always be mindful of why you're doing what you're doing. That will help you focus on the big picture and not get tripped up by each bump in the road along the way.<br />
<br />
4. Be Resilient. Remember that your sense of self-worth comes from inside of you. When you're able to be confident in yourself regardless of the feedback you get from external sources, you're able to bounce back much more easily from any negative feedback that you may get. <br />
<br />
5. Be Positive. Focus your attention on the positive and you'll attract more of it. This is the premise of the "law of attraction", and I've certainly seen it work in my own life. Hear the positive feedback you receive and replay it over in your mind whenever you need to. <br />
<br />
6. Be Clear. Approach constructive feedback with an accurate perspective, not muddled with thoughts from your own inner critic. Take it as a helpful tool for your own growth and remember that ultimately the only opinion that matters is your own - because you need to be happy with what you're producing. <br />
<br />
7. Be Grateful. Be gracious to your critics, accept all of the feedback you receive, sit quietly and let it sink in. Be grateful to be actively creating - to have gotten past the fear and other roadblocks. Be grateful for the opportunity to have your work seen and heard. Some never get the chance.<br />
<br />
8. Be Responsive. Decide consciously what to do with feedback before responding, instead of reacting with the first thought or words that come to mind.<br />
<br />
9. Be Selective. Once you've decided what to do the feedback you've received, be selective and willing to let go of the hurtful feedback. This usually doesn't have anything to do with you anyway; it's a reflection of that person's own happiness, state of mind and comfort with themselves. <br />
<br />
10. Be Loving. Be loving of your critic and ESPECIALLY of yourself. Plan some self-care treats for the day of the audition or submission. Regardless of the outcome, you deserve it!<br />
<br />
Success is the ability to go from one failure to another with no loss of enthusiasm.<br />
Sir Winston Churchill (1874 - 1965)
<p>
<strong>Author Bio</strong><br>
Linda Dessau, the Self-Care Coach, helps artists enhance their creativity by addressing their unique self-care issues. Feel like your creativity is blocked? Visit <a href="http://www.genuinecoaching.com">www.genuinecoaching.com</a> to sign-up for the free e-course, "Roadblocks to Creativity".
<p>
<em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>

{% endblock %}