
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2983464111332563"
     crossorigin="anonymous"></script>

        <title>Gracious Givers</title>
</head>

<body>

    <div class="container-fluid">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="navbar-brand nav justify-content-center" href="/">GRACIOUS GIVERS</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/direct.html">Direct Donations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Indirect Donations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/articles.html">Read an Article</a></li>
                            <li><a class="dropdown-item" href="/games.html">Play a Game</a></li>
                            <li><a class="dropdown-item" href="/frj.html">Riddles and jokes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <h1>Reminders: A Gradual Evolution</h1>
    <div style='font-style: italic'>By: Philip Nicosia</div><p>
    One of the most vivid symbols of modern man is the image of finger with a ribbon tied around it. That image symbolizes a reminder, of not forgetting a chore, a task or an event.
    <p>
    One of the dilemmas of modern man is the need for reminders. We are faced with so many responsibilities, chores and roles that sometimes we forget the details. But it is precisely this failure to remember that could bring a negative consequence to the many responsibilities that we have to juggle around. We have to be effective in our responsibilities and forgetting is not an option. It is because of this that we have a strong need to look for various ways to remind us of the details.
    <p>
    The evolution of instruments and strategies for reminders has gone a long way. During the more low-tech years, one of the more effective methods used was by either circling important events in our calendars at home or taking note of the reminder in a small notebook. These are good instruments but it also had its limitations, most especially with the calendar-at-home method because you obviously cannot bring it with you. Busy mothers as well as working professionals are not always in one place so there was a gradual but increased emphasis on mobility and mobile solutions for reminders.
    <p>
    Because of the new mobility factor, diaries and filofaxes became in vogue. The added benefit of a filofax system is that you not only get to bring the reminders with you, important data like addresses and contact details of clients, friends and family members. For a long time, the filofax system and other variants like the Franklin Planner became the standard for effective time management and reminders. The fact that this system became firmly entrenched not only in corporate culture but also among home-bound but still busy family members say a lot about its effectiveness.
    <p>
    But it was only a matter of time before technology would bring about another shift in the time management and reminder systems. The advent of personal computers had a lot to do with this gradual shift to electronic equipment for the task of giving people reminders. Operating systems gradually included alarm, appointment and reminder functions that are easy to use and operate. For the more mobile solutions, one of the earliest progenitors was the Apple Newton, Apple's doomed foray into mobile computing.
    <p>
    The first really successful electronic-based time management and reminder system were the Palm handhelds. The easy to use interface, the portability, and the mobility were the qualities that made it an overwhelming success. It's all in one functions (address book, reminders, appointments, word processing, games) made it very attractive to many people especially those who need the power of a computer in a form factor that would allow them to bring it on the field. The introduction of Pocket PC's
    <p>
    The internet age has now brought another significant change. The desire of mobile solutions has taken a different road with online reminder services that can be found on the internet. This is a more pervasive form of reminding because not only can it be accessed anywhere there is an internet connection (which is practically everywhere because of WiFi and internet hotspots), these online reminder services (www.onlinereminders.net) have a unique feature in that it can send email reminders to a person's mailbox on a daily basis. The reminder function now has a level of interactivity and pro-activeness that was missing from other previous solutions.
    <p />
    <strong>Author Bio</strong><br>
    Philip Nicosia is the webmaster of Onlinereminders.net, a <a href="http://www.onlinereminders.net">free online reminder service</a>.
    <p>
    <em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>
        <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
        

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>