
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2983464111332563"
     crossorigin="anonymous"></script>

        <title>Gracious Givers</title>
</head>

<body>

    <div class="container-fluid">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="navbar-brand nav justify-content-center" href="/">GRACIOUS GIVERS</a>
                </li>
            </ul>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/direct.html">Direct Donations</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Indirect Donations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/articles.html">Read an Article</a></li>
                            <li><a class="dropdown-item" href="/games.html">Play a Game</a></li>
                            <li><a class="dropdown-item" href="/frj.html">Riddles and jokes</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <h1>Our friendless society</h1>
    <div style='font-style: italic'>By: <a href='http://www.articlegeek.com/authors/450.php'>Mike Fletcher</a></div><p>
    Here's an important question to answer: right now, if you really needed some help, how many friends do you have that you could call who you know would immediately be there for you?<br />
    <br />
    Still thinking?<br />
    <br />
    This is not good!<br />
    <br />
    You were not made to go it alone.<br />
    <br />
    God created us for relationships with others. <br />
    <br />
    Have you ever realized that four of the Ten Commandments deal with our relationship to God while the remaining six deal with our relationship to each other. All 10 are about relationships.<br />
    The most important relationship is a personal relationship with our heavenly Father through His Son Jesus Christ . But we are also supposed to be connected to others.<br />
     <br />
     "Bowling Alone "is the title of a popular book from a few years ago that talked about how we in the United States have become a nation of loners. <br />
    <br />
    This is not good. Doctors tell us that loneliness is a major health problem.  A Boston Globe story on the issue reported recently that people who are socially isolated like this but otherwise healthy are twice as likely to die as those who have friends. A similar study fund that isolated men are up to 25% more likely to die of all causes at any age versus non -isolated men. The odds for women are 33%.<br />
    <br />
    George Callup's organization says Americans are among the loneliest people on earth, with more than a third saying they fell isolated and alone.<br />
    <br />
    But George Gallup tells us something else, something he personally discovered that he says is "profoundly good news." Let me quote him:<br />
    <br />
    "I want to report to you now on a trend that may be contributing to a transformation of America. You will not read about this trend in our daily newspapers or on television, yet it is a powerful undercurrent in our society that, I believe, gives us cause for encouragement about the future! This trend could be described as a sociological and spiritual phenomenon: Americans on a massive scale are rediscovering each other, and coming together regularly in small nourishing support groups, many with a spiritual dimension."<br />
    <br />
    The news Gallup discovered is so profound that he has now basically retired from his survey company's day-to-day leadership and has devoted the remaining part of his life to the development and encouragement of small groups. George Gallup, in case you didn't know, is a devout Christian.<br />
    <br />
    Small groups are all about relationships. And that's something that Jesus teaches in the Bible that we are to develop and nurture.<br />
    Jesus said our love for each other is to be our witness to the world. <br />
    <br />
    There is nothing intimidating about a Christian small group. They're a lot like families. Think of them as a group of friends who meet regularly to support and encourage one another and to grow in knowledge of the Lord through Bible study, prayer and application.<br />
    <br />
    For most, application means reaching out and helping others, beyond their immediate circule of friends. Many groups have regular outreach projects during the year. There is no shortage of needs. Working at a food pantry, babysitting for single Moms, mentoring school kids and visiting the sick in hospitals are just a few ideas.<br />
    <br />
    Interpersonal relationships bring balance to life. And the best such relationships are when we make connect with others in a basic Christian community.<br />
    <br />
    That's the small group.<br />
    <br />
    If you were to count them all up, the New Testament has over 50 references to how Christians are to be connected in friendship and fellowship. Bible scholars call them the "one another" passages. For example, we're commanded to "love one another", to "pray for one another" and to "build up one another". <br />
    <br />
    It's clear from the Bible that God wants us to be in regular, close fellowship with each other. But such relationships are often the first to be sacrificed to our busy schedules.<br />
    <br />
    This doesn't make sense. For relationships, not wealth or prestige or the accumulation of material things, are what matters most in life. <br />
    Now listen. That is just plain wrong. That is sinful. And I say this on the authority of the Bible. <br />
    <br />
    In Matthew 22:36-40.  "Jesus said, 'Love the Lord your God with all your heart...soul...and mind. This is the first and greatest commandment. And the second is like it: Love your neighbor as yourself. All the Law and Prophets hang on these two commandments.' " <br />
    <br />
    That's called the Great Commandment.<br />
    <br />
    In Matthew 28:19-20. "Jesus said, 'Go and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit, and teaching them to obey everything I have commanded you.' " <br />
    <br />
    That's called the Great Commission.<br />
    <br />
    Both of those commandments emphasize relationships.<br />
    <br />
    Here's the bottom line: You cannot be the mature believer God intend unless you get involved with people. You will stagnate. It is unbiblical not to be connected with others. Pastor Rick Warren in big Purpose Driven Life Book said it this way: "If you are too busy to be connected you are too busy."<br />
    <br />
    Clearly, we must make friends a priority if we are going to be obedient to God. <br />
    <br />
    This isn't just an idea. It's a command from jesus, who says we are to join together with others and be friends, loving and praying and supporing one another.<br />
    <br />
    What are you waiting for? Join or start a small group today.
    
    <p>
    <strong>Author Bio</strong><br>
    The author is the publisher of the Online Christian Shopper (<a href="http://www.onlinechristianshopper.com">www.onlinechristianshopper.com</a>), a shopping site specializing in Christian T-Shirts and Christian jewelry. He also writes the Share Your Testimony evangelism Website (www.sharetestimony.com).
    <br>
    <p>
    <em>Article Source: <a href='http://www.articlegeek.com'>http://www.ArticleGeek.com - Free Website Content</a></em>
        <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
        

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>